#msg_interface_benaceur_font .msg_interface_benaceur_colwrap{position:relative;width:120px;}	
#msg_interface_benaceur_font .msg_interface_benaceur_colwrap .msg_interface_benaceur_color_inp{ border: 1px solid #EA2F22;  width: 103px; text-align:center;} 	
#msg_interface_benaceur_font .msg_interface_benaceur_colsel{background: url("color_picker.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); background-size: 26px 23px; cursor: pointer; height: 26px;  position: absolute;  top: 1px; width: 23px; } 
#msg_interface_benaceur_font .msg_interface_benaceur_colsel .farbtastic{display:none;position:absolute;top:8px;z-index:1;}

input[type="text"] {
	border: 0 none;	
	font-family: Tahoma;
	color: #000;
	font-size: 12px;
	line-height: 1;
	font-weight:normal;
	width: 360px;
	height: 24px;
	margin-bottom: 8px;
	padding: .35em 1em;
}
.styled-select select {
    color:#fff;
    border:1px solid #999999; 
    border-radius:5px;
    background-color:#BE3631;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 1;
	font-weight:bold;
	width: auto;
	height: auto;
	margin-bottom: 8px;
	padding: .35em 1em;
   }
.sm_benaceurlist_caps_input input[type="text"]{color:#fff;font-weight:bold;width:60%;height:32px;border-radius:10px;height:30px;
    background-color: rgba(215, 40, 40, 0.9);
    background: rgba(215, 40, 40, 0.9);
}
.button-primary-m { 
    background-color:#2F76EC;
	border: 0 none;
	border-radius: 3px;
	font-family: Tahoma;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	width: auto;
	height: auto;
	padding: .45em 1em;
	cursor: pointer;
   transition:background linear .3s;                 
   -moz-transition:background linear .3s;
   -webkit-transition:background linear .3s;
   transition:background linear .3s;
  }  
.button-primary-m:hover{
   background:#4584EE;
   transition:background linear .3s;                 
   -moz-transition:background linear .3s;
   -webkit-transition:background linear .3s;
   transition:background linear .3s;
}

#msgbeninterface-font-weight th {font-weight:normal;}
input[type="text"]:focus::-moz-placeholder {  color:transparent;}
input[type="text"]:focus::-webkit-input-placeholder {  color:transparent;}
.option-box {display:inline-block; padding-left: 10px;}
.colwrap-display {display:inline-block;}
.bold-3 {margin-bottom:6px;}
.bold-4 {margin-top:8px;}
#msg_interface_benaceur-trait-horizontal {border-top:2px solid #999999;width:35%;margin-bottom:35px;}

/* checked on / off ------- */
.switch-mib {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background:#BE3631;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* checked on / off --- rond ---- */

.switch {
  margin: 5px auto;
  position: relative;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* 1 */

.switch.demo1 {
  width: 80px;
  height: 80px;
}

.switch.demo1 label {
  border-radius: 50%;
  background: #eaeaea;
  box-shadow: 
      0 3px 5px rgba(0,0,0,0.25),
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -5px 5px rgba(100,100,100,0.1),
      inset 0 5px 5px rgba(255,255,255,0.3);
}

.switch.demo1 label:after {
  content: "";
  position: absolute;
  top: -8%; right: -8%; bottom: -8%; left: -8%;
  z-index: -1;
  border-radius: inherit;
  background: #ddd;
  background: -moz-linear-gradient(#ccc, #fff);
  background: -ms-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff));
  background: -webkit-linear-gradient(#ccc, #fff);
  background: linear-gradient(#ccc, #fff);
  box-shadow: 
    inset 0 2px 1px rgba(0,0,0,0.15),
    0 2px 5px rgba(200,200,200,0.1);
}

.switch.demo1 label:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: inherit;
  left: 40%;
  top: 40%;
  background: #969696;
  background: radial-gradient(40% 35%, #ccc, #969696 60%);
  box-shadow:
      inset 0 2px 4px 1px rgba(0,0,0,0.3),
      0 1px 0 rgba(255,255,255,1),
      inset 0 1px 0 white;
}

.switch.demo1 input:checked ~ label {
  background: #dedede;
  background: -moz-linear-gradient(#dedede, #fdfdfd);
  background: -ms-linear-gradient(#dedede, #fdfdfd);
  background: -o-linear-gradient(#dedede, #fdfdfd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#fdfdfd));
  background: -webkit-linear-gradient(#dedede, #fdfdfd);
  background: linear-gradient(#dedede, #fdfdfd);
}

.switch.demo1 input:checked ~ label:before {
  background: #25d025;
  background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
  box-shadow:
      inset 0 3px 5px 1px rgba(0,0,0,0.1),
      0 1px 0 rgba(255,255,255,0.4),
      0 0 10px 2px rgba(0, 210, 0, 0.5);
}
#wpcontent-benaceur-mib {
  margin:40px 60px 40px 80px;
  padding:10px 10px 20px 10px;
  border:solid 0px #000000;
  border-radius:5px;
  box-shadow: 6px 5px 8px #000000;
  background-color:#CF4944;
}
#wpcontent-benaceur-top {
  background: url(https://ps.w.org/notification-msg-interface-benaceur/assets/banner-772x250.png) no-repeat top;
  background-size: 100% 210px;
  margin: 0px auto 0;
  height:210px;
  width:100%;
}
#wpcontent-benaceur-mib form ,#wpcontent-benaceur-mib form  th, #wpcontent-benaceur-mib h2   {
  color:#fff;
}
#wpcontent-benaceur-mib textarea,#wpcontent-benaceur-mib input ,#wpcontent-benaceur-mib select{
  color:#fff;
  border:1px solid #999999; 
  border-radius:5px;
  background-color:#BE3631;
}
#wpcontent-benaceur-mib textarea {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#wpcontent-benaceur-mib textarea:hover,#wpcontent-benaceur-mib textarea:focus {
  background:#D1514E;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#wpcontent-benaceur-mib textarea {width:90%;}
.to-tr {width:100%;border:0.1em solid #999999;}
.to-tr2 {width:40%;border:0.1em solid #999999;margin-bottom:6px;}
.code-insert-mib {background:#BE3631;padding:4px;}

        .slideup, .slidedown { 
            max-height: 0;            
            overflow-y: hidden;
            -webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
        }
        .slidedown {            
            max-height: 60px ;
        }  

.button-secondary-mib-hid-1 {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:11px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.button-secondary-mib-hid-1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.button-secondary-mib-hid-1:active {
	position:relative;
	top:1px;
}

  #sub-mib-hid-1 {display: none;}
  #sub-mib-hid-1 a:link,#sub-mib-hid-1 a:visited {color:white;text-decoration:none;}
  #sub-mib-hid-1 a:hover {color:#D4D4D4;text-decoration:none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  }
